<!DOCTYPE html>

<head>
    <title>SameSite</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/app.js" type="module"></script>
</head>

<body>
    <div class="container">
        <h1>Illustration for <a href='https://marian-caikovski.medium.com/cross-site-request-forgery-attacks-are-not-feasible-anymore-9f84e05b757d'>post about SameSite cookies</a></h1>
        <div class="requests">
            <img src="imgs/logo.png">
            <a href="/">Home</a>
            <form method="post">
                <input type="text" name="str" value="test">
                <input type="submit" value="Submit">
            </form>

            <div class="fetch">
                <button type="button" id="getBtn">Fetch Get</button>
                <button type="button" id="postBtn">Fetch Post</button>
            </div>

            <button type="button" id="iframeBtn">Add iframe</button>
            <div id="iframeDiv"></div>
        </div>
        <div id="logDiv"></div>
    </div>

</body>

</html>